<div class="flex bg-gray-100 h-screen p-0 m-0 bg-cover bg-no-repeat z-0relative">
  <app-side-menu></app-side-menu>
  <div class="flex flex-col w-screen">
      <app-navbar></app-navbar>
    <div class="flex justify-center">
      <div class="mt-24 md:-ml-8 mx-20 md:mx-2">
        <h1 class="text-center ease-in-out origin-left text-primaryGreen text-lg ml-2">Seja Bem-vindo</h1>
        <img src="./assets/images/logo-cemiterio-particular-jardim-da-colina-color.png">
      </div>
    </div>
  </div>
</div>
